<div class="container">
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>Welcome to hyting's websit!</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/huyanting/sFrame" role="button">Learn more</a></p>
    </div>
</div>
