<link rel="stylesheet" type="text/css" href="/dist/css/worldMap-<%= version %>.css">
<div id="map" style="width: 100%;height: 1080px;">
    Hello World!
</div>
<script type="text/javascript" src="/dist/js/worldMap-<%= version %>.js"></script>
